.main__loja {
    padding: 10px 15px 10px 5px;
}

.loja__itens {
    display: grid;
    grid-template-areas: 
        "loja-imagem"
        "loja-info";
    grid-template-columns: 100%;
}

.loja__imagem {
    grid-area: loja-imagem;
    height: 100%;
    width: 100%;
}

.loja__info {
    grid-area: loja-info;
    padding: 5px;
}