* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Cabeçalho e Navegação*/
.cabecalho {
    background: orange;
    font-weight: bold ;
    font-size: 25px;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.store-title {
    font-size: 34px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}

header .search {
    position: absolute;
    left: 34%;
    top: 10px;
}

.search-input input {
    padding: 10px 30px 14px 15px;
    border: 0;
    width: 120px;
    border-radius: 6px;
    transition: width 0.2s ease-in;
}

header .search button {
    position: absolute;
    left: 150px;
    top: 6;
    width: 40px;
    height: 40px;
    border: 0;
    background: url('../imagens/search-icon.png') no-repeat center center;
    cursor: pointer;
}

header .search-input input:focus {
    width: 240px;
    outline: 3px solid #000;
}

.navbar {
    background: #000000;
    color: #9c9a9a;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20%;
}

.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar ul a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
    text-transform: uppercase;
    transition: all ease 0.2s;
}


/*Content Section */
.content-section {
    padding-top: 30px;
    padding-left: 20%; 
}

/*Poke list*/
.poke-list {
    width: 75%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.poke-list .poke-img {
    max-width: 100%
}

.poke-list .poke {
    transition: all ease 0.3s;
    text-align: center;
    padding: 10px;
    border: solid 1px #DDD
}

.poke-list .poke:hover {
    background: #EEE;
}

.poke-list .poke h2 {
    margin: 10px 0;
}

.poke-list .poke h2{
    margin: 10px 0;
}

.poke-list .poke .price-from {
    text-decoration: line-through;
    font-size: 16px;
    color: #999;
    margin-top: 0;
    margin-bottom: 5px;
}

.poke-list .poke .price-to {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #00c853;
    font-weight: 700;
}

.poke-list .poke-buy-btn {
    width: 100%;
    border: 0;
    padding: 15px 5px;
    background: linear-gradient(-45deg, #143f4e, #23d5ab);
	background-size: 400% 400%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke-list .poke-buy-btn img {
    width: 22px;
    margin-right: 8px;
}