.loja {
    background: #aaaaaa;
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "navbar"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 40px 25px auto auto;
}

.cabecalho {
    background: orange;
    font-weight: bold ;
    font-size: 25px;
    padding-left: 20%;
    padding-top: 7px;
}

.navbar {
    background: #000000;
    color: #9c9a9a;
    padding-top: 3px;
    padding-left: 20%;
}

.conteudo {
    background: #f1f1f1;
    margin-left: 20%;
    margin-right: 20%;
}

.l-cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 30px;
}

img {
    width: 30%;
}