* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 34% 34% 32%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header"
        "container container sidenav"
        "footer footer footer";
}

main {
    grid-area: container;
    display: fleX;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: 32px;
    padding-top: 20px;
    padding-left: 15%;
    margin-left: 15%;
}


body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Cabeçalho e Barra de Pesquisa*/
header {
    grid-area: header;
  }

.cabecalho {
    background: orange;
    font-weight: bold;
    width: auto;
    display: flex;
    font-size: 25px;
    padding-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.store-title {
    font-size: 34px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}

header .search {
    position: absolute;
    left: 29%;
    top: 10px;
}

.search-input input {
    padding: 10px 30px 14px 15px;
    border: 0;
    width: 120px;
    border-radius: 6px;
    transition: width 0.2s ease-in;
}

header .search button {
    position: absolute;
    right: 2px;
    top: 6;
    width: 40px;
    height: 40px;
    border: 0;
    background: url('../imagens/search-icon.png') no-repeat center center;
    cursor: pointer;
}

header .search-input input:focus {
    width: 240px;
    outline: 3px solid #000;
}

/*Botões de Sobre, Contato e Carrinho*/

header .links {
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    padding-right: 125px;
}

header .links li {
    margin-left: 12px;
}

header .links a {
    color: #000;
    text-decoration: none;
    transition: all ease 0.2;
}

header .links a:hover{
    color: #FFF;    
}

/*Barra de navegação com Menu, Home e Categorias*/

.navbar {
    background: #000000;
    color: #9c9a9a;
    padding: 8px 0px ;
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    padding-right: 110px;
}

.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar ul a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
    text-transform: uppercase;
    transition: all ease 0.2s;
}

.navbar ul a:hover {
    color: #FFF;
}

.navbar .social-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}


/*Content Section */
.content-section {
    padding-top: 10px;
    padding-left: 10%; 
}

/*Poke list*/
.poke-list {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.poke-list .poke-img {
    max-width: 100%
}

.poke-list .poke {
    transition: all ease 0.3s;
    text-align: center;
    padding: 10px;
    border: solid 1px #DDD;
}

.poke-list .poke:hover {
    background: #EEE;
}

.poke-list .poke h2 {
    margin: 10px 0;
}

.poke-list .poke h2{
    margin: 10px 0;
}

.poke-list .poke .price-from {
    text-decoration: line-through;
    font-size: 16px;
    color: #999;
    margin-top: 0;
    margin-bottom: 5px;
}

.poke-list .poke .price-to {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #00c853;
    font-weight: 700;
}

.poke-list .poke-buy-btn {
    width: 100%;
    border: 0;
    padding: 15px 5px;
    background: linear-gradient(-45deg, #143f4e, #23d5ab);
	background-size: 400% 400%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke-list .poke-buy-btn img {
    width: 22px;
    margin-right: 8px;
}

/* Aside */
aside {
    grid-area: sidenav;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 5px;
    margin-right: 125px;
}

aside .poke-ads {
    display: block;
    height: 250px;
    background-image: url(../imagens/mewtwo.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

aside .poke-ads::before{
    content: " ";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

aside .poke-ads>div {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: center;
    padding: 10px;
    width: 100%;
}

aside .poke-ads .poke-ads-title {
    font-size: 28px;
    font-weight: bold;
    margin: 5px
}

aside .poke-ads .poke-ads-description {
    font-size: 10px;
}


/*Aside que também vai ser utilizado no Footer na responsividade*/

.top-pokes {
    margin-top: 30px;
}

.top-pokes h3 {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #DDD;
    padding: 10px 0px;
    margin: 0px;
}

.top-pokes ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.top-pokes li {
    counter-increment: li;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #EEE;
    transition: all ease 0.3s;
    cursor: pointer;
}

.top-pokes li:hover {
    background-color: #EEE;
}

.top-pokes li:last-child {
    border-bottom: 0;
}

.top-pokes span {
    font-size: 20px;
    font-weight: 300;
}

.top-pokes li::before {
    content: counter(li) "º";
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
}

.top-pokes .poke-img {
    width: 100px;
    margin: 0 10px;
}

.newsletter {
    margin-top: 30px;
    padding: 30px 10px;
    background: #EEE;
}

.newsletter h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}

.newsletter input {
    padding: 10px;
    border: 0;
    width: 100%;
}

.newsletter button {
    border: 0;
    padding: 10px;
    width: 100%;
    background: #000;
    color: #FFFFFF;
    margin-top: 10px;
}